@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 1440px;
  background-image: url(bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins";
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% auto;
  width: 80%;
}

.intro-text {
  flex: 20%;
  justify-content: flex-start;
  text-align: left;
}

.heading {
  font-family: "Poppins";
  font-weight: 700;
  color: white;
}

.paragraph {
  font-family: "Poppins";
  font-weight: 500;
  color: white;
  line-height: 2;
}

.data {
  flex: 20%;
  box-sizing: border-box;
  margin: 10%;
}

.price {
  text-align: center;
  background-color: hsl(248, 32%, 49%);
  border-radius: 5px;
  padding: 10px;
  font-family: "Poppins";
  color: white;
  box-shadow: 0 5px 5px -2px rgba(37, 37, 37, 0.582);
}

.price > span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 800;
}

.input-form {
  background-color: white;
  padding: 50px;
  margin: 3% auto;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 5px 5px -2px rgba(37, 37, 37, 0.582);
}

.form-data {
  display: block;
  margin-bottom: 5%;
  position: relative;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 600;
  resize: vertical;
}

input:focus {
  border: 0px;
  visibility: visible;
  outline-color: rgb(199, 85, 85);
  outline-style: solid;
}

.submission {
  color: white;
  background: hsl(154, 59%, 51%);
  box-sizing: border-box;
  width: 100%;
  padding: 10px 5px;
  margin: 1px 1px;
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 5px;
  resize: vertical;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.t-c {
  font-family: "Poppins";
  font-size: xx-small;
  text-align: center;
  padding-top: 20px;
  color: hsl(249, 10%, 26%);
}

.t-c > span {
  color: red;
  font-weight: 600;
}

@media screen and (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    width: 100%;
  }
  .heading {
    font-weight: 400px;
  }
  .paragraph {
    padding: 5px;
  }
  .price {
    margin-bottom: 25px;
  }
  .intro-text {
    justify-content: center;
    padding: 10px;
    text-align: center;
    flex: 100%;
  }

  .heading {
    font-family: "Poppins";
    color: white;
    font-weight: 700;
  }

  .data {
    flex: 100%;
    box-sizing: border-box;
    margin: 10%;
  }
  .t-c {
    text-align: center;

    padding: 2px;
    padding-top: 10px;
  }
}
